### Summary, Dealing with Missing data 
In this part, I will summarize how to deal with missing data

In [60]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt

In [61]:
train = pd.read_csv('./input/titanic/train.csv')
test = pd.read_csv('./input/titanic/test.csv')
combine = [train, test]

In [64]:
train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

#### find how many missing data

In [67]:
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

#### Embarked
Embarked only has two missing data, we can get the mode to fill in.

In [68]:
train.Embarked=train.Embarked.fillna(train.Embarked.mode()[0])

#### Fare
Fare only has one missing data, using median or mean to fill in.

In [71]:
train.Fare=train.Fare.fillna(train.Fare.mean())

#### Age
there are too many age missing data, we can not simply use the whole mean age to fill in.

We can explore the ages' relations with other variables. 

For example, we can fill in  age according to Pclass and sex 

Of course , there are better ways to fill in age, for example ,we get the distribution of age, and fill in the data according to the distribution

#### Cabin

Too many mi